@import '~normalize.css';
@import 'fonts.css';

body {
  font-family: 'SFPro-Reg', serif;
  font-weight: normal;
  font-size: larger;
}

.contaner {
  padding-top: 2rem;
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.logo {
  background-image: url('../../assets/logo.png');
  background-size: cover;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

pre {
  color: crimson;
}
